<% include partials/header %>

<h1>Sentiment Analyzer</h1>

<div class="searchBox">
  <h2>Enter text to gauge its emotional content</h2>
  <form id='searchForm' action="/results" method="GET">

    <textarea id="searchInput" name="search" placeholder="Enter post, article, etc..."></textarea>
    <input id="searchButton" type="submit" value="SUBMIT">
  </form>
</div>

<% include partials/footer %>
