/* Search View Layout */
body {
  margin: 0;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Helvetica', serif;
}
h1 {
  flex: 0;
  margin: 0;
  color: white;
  background-color: RGB(104, 211, 178);
  line-height: 75px;
  text-align: center;
  border-bottom: 10px solid white;
  background-image: url("wallpaper.gif");
  background-size: 100px 100px;
  background-repeat: no-repeat;
  background-position-y: 40%;
}
h2 {
  color: #a27753;
  padding-top: 25px;
  padding-bottom: 50px;
}

/* Content Area Wrapper */
#wrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%; 
}

/* Options Area */
#leftPane {
 width: 50%;
 height: 100%;
 text-align: center;
 display: flex;
 flex-direction: column;
 align-items: center;
}
#garboWrapper {
  height: 100%;
  width: 100%;
  display: flex;
}

#optionsLeft {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.optionText {
  line-height: 34px;
  font-size: 28px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
  height: 100%;
  color: #ccc;
}
#optionsRight {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.optionCheckBox {
  line-height: 34px;
  text-align: left;
  padding-left: 10px;
}

/* Text Input Area */
#rightPane {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#searchForm {
  display: flex;
  flex-direction: column;
  width: 75%;
}
#searchInput {
  height: 450px;
  border: none;
  box-sizing: border-box;
  outline: none;
  padding-left: 10px;
}
#searchButton {
  height: 60px;
  border: none;
  box-sizing: border-box;
  outline: none;
  font-size: 32px;
  color: #a27753;
}

/* Analysis Results View */
.analysisWrapper {
  flex: 1;
  width: 100%;
  word-wrap: break-word;
  font-family: Verdana;
  display: flex;
}
.sentimentCard {
  word-wrap: break-word;
  color: lightgray;
  width: 50%;
  padding: 16px;
}
.sentimentCardHeading {
  margin-top: 16px;
  font-size: 32px;
  color: #a27753;
}
#textArea {
  display: none;
}


.freqCard {
  word-wrap: break-word;
  color: lightgray;
  width: 50%;
  padding: 16px;
}
.freqWord {
  padding-right: 16px;
}
.freqCount {
  padding-left: 16px;
}




.as {
  color: white;
  padding: 10px;
}
.backLink {
  text-align: center;
  margin-bottom: 20px;
}
a {
  color: RGB(104, 211, 178);
  text-decoration: none;
}


/* Footer */
footer {
  flex: 0;
  display: flex;
  justify-content: center;
  color: white;
  background-color: darkgray;
  color: black;
  line-height: 75px;
  border-top: 10px solid RGB(104, 211, 178);
}


/* ON/OFF Switches  */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: RGB(104, 211, 178);
}

input:focus+.slider {
  box-shadow: 0 0 1px RGB(104, 211, 178);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}